<%= render 'video' %>
<%= render 'about' %>

<div class="divider-icon"><i class="fa fa-paw"></i></div>

<%= render 'last_pictures' %>
<%= render 'quote' %>

<div class="divider-icon"><i class="fa fa-paw"></i></div>

<%= render 'best_pictures' %>
